<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Information</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  	<style>

		 * {
		     margin: 0;
		 }
		 html, body {
		     height: 100%;
		 }
		 .wrapper {
		     min-height: 100%;
		     height: auto !important;
		     height: 100%;
		     margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
		 }
		 .footer, .push {
		     height: 60px; /* .push must be the same height as .footer */
		 }
		 hr{
		  	margin-top: 380px;
		  	border: 0.001em solid black;
		  }
		
		#table {
		  border-collapse: collapse;
		  width: 100%;
		  border: 1px solid #ddd;
		  font-size: 18px;
		}
		
		#table th, #table td {
		  text-align: left;
		  padding: 12px;
		}
		
		#table tr {
		  border-bottom: 1px solid #ddd;
		}
		
		#table tr.header, #table tr:hover {
		  background-color: #f1f1f1;
		}
    </style>
    <script>
    	function goBack() {
    	  window.history.back();
    	}
    </script>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="\index_admin">Videoteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse order-3 dual-collapse2"></div>
  </nav>
	<table style="margin-top:30px;" class="table">
	  <thead>
	    <tr>
	      <th style="width:15%;">Email</th>
	      <th style="width:15%;">Nickname</th>
	       <th style="width:28%;">Password</th>
	      <th style="width:27%;">Contract</th>
	      <th style="width:15%;">Modify</th>
	    </tr>
	  </thead>
	  <tbody>
	   <tr>
	      <td th:text="${admin.email}">Email</td>
	      <td th:text="${admin.nickname}">Nickname</td>
	      <td ><input size="18" style="border:0" type="password" th:value="${admin.password}" readonly="readonly"/></td>
	      <td th:text="${admin.contract}">Contract</td>
	      <td>
				<a th:href="@{'/admin/update_admin/?email='+ ${admin.email}}">Modify</a>
		  </td>
	    </tr>
	  </tbody>
	</table>
	<form style="margin-top:25px" th:action="@{'/index_admin'}" method="get">
		<input type="submit" class= "btn btn-primary" value="Return to index" />
	</form>
	<div class="push"></div>
    <div class="footer">
      <hr>
      <footer>
        <h5 class="col-lg-12 text-center text-muted">Credits: Marchi Mattia, Stoppa Miguel, Tomasoni Lorenzo. Università degli Studi Milano Bicocca</h5>
      </footer>
    </div>
	
</body>
</html>