<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Sequel</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>

		 * {
		     margin: 0;
		 }
		 html, body {
		     height: 100%;
		 }
		 .wrapper {
		     min-height: 100%;
		     height: auto !important;
		     height: 100%;
		     margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
		 }
		 .footer, .push {
		     height: 10px; /* .push must be the same height as .footer */
		 }
		 hr{
		  	margin-top: 210px;
		  	border: 0.001em solid black;
		  }
    </style>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="\index_admin">Videoteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse order-3 dual-collapse2"></div>
  </nav>
	<h1 style="margin-bottom:20px; margin-top:20px">Add Sequel</h1>
	<form style="margin-bottom:20px; margin-top:20px"  action="#" th:action = "@{/movie/add/choose_prequel}" th:object="${movie}" method = "post">
		<label style="margin-bottom:8px;" for="prequel">Choose the prequel</label>
		<select class="form-control" th:field="*{movie_title}">
	    	<option th:each = "movie : ${movies}" th:value="${movie.movie_title}" th:text="${movie.movie_title}" ></option>
	    </select>
	    <label style="margin-top: 20px; margin-bottom:8px;" for="sequel">Choose the sequel</label>
		<select class="form-control" th:field="*{sequel.movie_title}">
	    	<option th:each = "movie : ${movies}" th:value="${movie.movie_title}" th:text="${movie.movie_title}" ></option>
	    </select>
		<button style="margin-top:25px" class ="btn btn-primary" type="submit">Add Sequel</button>
  </form>
  <form style="margin-top:25px" th:action="@{'/movie/get_all'}" method="get">
		<input type="submit" class= "btn btn-primary" value="Return to movie list" />
  </form>
  <!-- 
	<form action="#" th:action = "@{/movie/add/choose_prequel}" th:object="${movie}" method = "post">
	<table class="table">
	  <thead>
	    <tr> 
	      <th scope="col">Prequel</th>
	      <th scope="col">Sequel</th>
	    </tr>
	    
	  </thead>
	  <tbody>
	    <tr>
	    	<td>
	    		<select th:field="*{movie_title}">
	    			<option th:each = "movie : ${movies}"
	    				th:value="${movie.movie_title}" th:text="${movie.movie_title}" ></option>
	    		</select>
	    	</td>
	    	<td>
	    		<select th:field="*{sequel.movie_title}">
	    			<option th:each = "movie : ${movies}"
	    				th:value="${movie.movie_title}" th:text="${movie.movie_title}" ></option>
	    		</select>
	    	</td>
	    </tr>
	   </tbody>
	   </table>
	   <button type = "submit">Select Sequel</button> 
	</form>
	 -->
	 <div class="push"></div>
    <div class="footer">
      <hr>
      <footer>
        <h5 class="col-lg-12 text-center text-muted">Credits: Marchi Mattia, Stoppa Miguel, Tomasoni Lorenzo. Università degli Studi Milano Bicocca</h5>
      </footer>
    </div>
</body>
</html>