<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie list</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>

		 * {
		     margin: 0;
		 }
		 html, body {
		     height: 100%;
		 }
		 .wrapper {
		     min-height: 100%;
		     height: auto !important;
		     height: 100%;
		     margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
		 }
		 .footer, .push {
		     height: 10px; /* .push must be the same height as .footer */
		 }
		 hr{
		  	margin-top: 10px;
		  	border: 0.001em solid black;
		  }
		
		#myInput {
		  background-position: 10px 10px;
		  background-repeat: no-repeat;
		  width: 100%;
		  font-size: 16px;
		  padding: 12px 20px 12px 40px;
		  border: 1px solid #ddd;
		  margin-bottom: 12px;
		}
		
		#table {
		  border-collapse: collapse;
		  width: 100%;
		  border: 1px solid #ddd;
		  font-size: 18px;
		}
		
		#table th, #table td {
		  text-align: left;
		  padding: 12px;
		}
		
		#table tr {
		  border-bottom: 1px solid #ddd;
		}
		
		#table tr.header, #table tr:hover {
		  background-color: #f1f1f1;
		}
    </style>
    <script>
        function filterByTitle() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("table");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
      </script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="\index_customer">Videoteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse order-3 dual-collapse2"></div>
  </nav>
  <div class="wrapper">
    <input style="margin-bottom:20px; margin-top:20px" type="text" id="myInput" onkeyup="filterByTitle()" placeholder="Search copy by movie title" title="Type in a customer mail">
    <table class= "table table-hover" id="table">
      <thead>
	    <tr>
	      <th scope="col">Movie title</th>
	      <th scope="col">Genre</th>
	      <th scope="col">Year</th>
	      <th scope="col">Director</th>
	      <th scope="col">Sequel</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="copy: ${copies}">
	      <td th:text="${copy.movie.movie_title}">Movie Title</td>
	      <td th:text="${copy.movie.genre}">Genre</td>
	      <td th:text="${copy.movie.year}">Year</td>
	      <td th:text="${copy.movie.director}">Director</td>
	      <td th:text="${copy.movie.getSequel()} ? ${copy.movie.getSequel().getMovie_title()} : '-'"> Sequel </td>
	     
	    </tr>
	  </tbody>
	</table>
	<form style="margin-top:25px" th:action="@{'/index_customer'}" method="get">
		<input type="submit" class= "btn btn-primary" value="Return to index" />
	</form>
    <div class="push"></div>
    </div>
    <div class="footer">
      <hr>
      <footer>
        <h5 class="col-lg-12 text-center text-muted">Credits: Marchi Mattia, Stoppa Miguel, Tomasoni Lorenzo. Università degli Studi Milano Bicocca</h5>
      </footer>
    </div>
</body>
</html>