<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Information</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
      .col-lg-12{
          margin-bottom: 30px
        }
      h1{
        margin-top: 60px
      }
      footer {
        position: relative;
        height: 30px;
        margin-top: 5px;
      }
      hr{
         position: relative;
         margin-top: 380px;
         border: 0.001em solid black;
      }
  </style>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="\index_customer">Videoteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse order-3 dual-collapse2"></div>
  </nav>
	<table style="margin-top:30px;"class="table">
	  <thead>
	    <tr>
	      <th style="width:15%;">Email</th>
	      <th style="width:15%;">Nickname</th>
	      <th style="width:28%;">Password</th>
	      <th style="width:27%;">Registration</th>
	      <th style="width:15%;">Modify your info</th>
	    </tr>
	  </thead>
	  <tbody>
	   <tr>
	      <td th:text="${customer.email}">Email</td>
	      <td th:text="${customer.nickname}">Nickname</td>
	      <td><input size="18" style="border:0" type="password" th:value="${customer.password}" readonly="readonly"/></td>
	      <td th:text="${customer.registration}">Registration</td>
	   <td>
				<a th:href="@{'/customer/update_customer/?email='+ ${customer.email}}">Modify</a>
		  </td>
	    </tr>
	  </tbody>
	</table>
	<br />
	<form style="margin-top:25px" th:action="@{'/index_customer'}" method="get">
		<input type="submit" class= "btn btn-primary" value="Return to index" />
	</form>
		<div class="push"></div>
    <div class="footer">
      <hr>
      <footer>
        <h5 class="col-lg-12 text-center text-muted">Credits: Marchi Mattia, Stoppa Miguel, Tomasoni Lorenzo. Università degli Studi Milano Bicocca</h5>
      </footer>
    </div>
	
</body>
</html>