<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    #copy, #buy{
      margin-top: 40px;
    }
      .col-lg-12{
          margin-bottom: 30px
        }
      h1{
        margin-top: 60px
      }
      footer {
        position: relative;
        height: 30px;
        margin-top: 5px;
      }
      hr{
         position: relative;
         margin-top: 80px;
         border: 0.001em solid black;
      }
    </style>
</head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#\login_customer">Videoteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse order-3 dual-collapse2">
    </div>
</nav>
    <div class="text-center", id="welcome_message">
      <h1 th:text= "'Welcome back, ' + ${name}" style="margin-top:1.5cm; margin-bottom:1.5cm;"></h1>
      <!--<h1 th:text="Welcome, ${customer.getNickname()" ></h1>-->
    </div>
      <div class="container-fluid col-lg-12 text-center">
        <div class="row">
          <div id="account">
            <h4> If you want to watch or modify your account informations, click the button below </h4>
            <form action="/customer/customer_information">
              <button type="submit" class="btn btn-outline-primary" id="accountInfo">Account info</button>
            </form>
          </div>
      </div>
      <div class="row">
        <div id="copy">
          <h4>If you want to watch the list of your copies, click the button below</h4>
          <form action="/copy/get_by_customer">
            <button type="submit" class="btn btn-outline-primary" id="copyList">Copy list</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div id="buy">
          <h4>If you want to buy a new copy, click the button below</h4>
          <form action="copy/get_available_copies" method="get">
            <button type="submit" class="btn btn-outline-primary" id="buyCopy">Buy new copy</button>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <footer>
      <h5 class="col-lg-12 text-center text-muted">Credits: Marchi Mattia, Stoppa Miguel, Tomasoni Lorenzo. Università degli Studi Milano Bicocca</h5>
    </footer>
  </body>
</html>
