<!DOCTYPE html>
<html>
<head>
	<title>Videoteca</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img th:src="@{/img/videoteca.png}"/>
				</div>

				<form class="login100-form validate-form" id="form" action="POST">
					<span class="login100-form-title" style="margin-top: -110px; margin-bottom: 20px">
						Member Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" onclick="submitForm('signIn')" class="login100-form-btn" style="margin-top: 30px; margin-bottom: 20px">
							Login
						</button>
						
					</div>

					<div class="text-center p-t-12">
					</div>

					<div class="text-center p-t-136">
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		function submitForm(action) {
		    var form = document.getElementById('form');
		    form.method="POST";
		    form.action = action;
		    form.submit();
		}
	</script>
</body>
</html>
