<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search results</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Risultato ricerca</h1>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Title</th>
	      <th scope="col">Year</th>
	      <th scope="col">Director</th>
	      <th scope="col">Sequel</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td th:text="${movie.movie_title}">Title</td>
	      <td th:text="${movie.year}">Year</td>
	      <td th:text="${movie.director}">Director</td>
	      <td th:text="${movie.getSequel()} ? ${movie.getSequel().getMovie_title()} : '-'"> Sequel </td>
	    </tr>
	  </tbody>
	</table>
	<button onclick="window.location.href='http://localhost:8080/movie/get_all';">
      Movie List
    </button>
</body>
</html>