<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Information</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  	 * {
		     margin: 0;
		 }
		 html, body {
		     height: 100%;
		 }
		 .wrapper {
		     min-height: 100%;
		     height: auto !important;
		     height: 100%;
		     margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
		 }
		 .footer, .push {
		     height: 10px; /* .push must be the same height as .footer */
		 }
		 hr{
		  	margin-top: 210px;
		  	border: 0.001em solid black;
		  }
  </style>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
	        <ul class="navbar-nav mr-auto">
	            <li class="nav-item">
	                <a class="nav-link" href="/logout">Log out</a>
	            </li>
	        </ul>
	    </div>
	    <div class="mx-auto order-0">
	        <a class="navbar-brand mx-auto" href="\index_admin">Videoteca</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	    </div>
	    <div class="navbar-collapse collapse order-3 dual-collapse2"></div>
	  </nav>
	  <h1 style="margin-bottom:20px; margin-top:20px">Modify Information</h1>
	  <form style="margin-bottom:20px; margin-top:20px" action="#" th:action="@{/copy/update}" method="post">
			<div class="form-group" style="margin-bottom:10px;">
			  <label for="email">Id</label>
			  <input class="form-control" type="text" th:value="${copy.getId()}" th:name="copy_id" readonly="readonly" />
			</div>
			<div class="form-group" style="margin-bottom:10px;">
			  <label for="nickname">Movie</label>
			  <select class="form-control" th:name="movie">
			  	<option th:each="movie : ${movies}" th:value="${movie.getMovie_title()}" th:text="${movie.getMovie_title()}"></option>
			  </select>
			</div>
			<button style="margin-top:20px" class ="btn btn-primary" type="submit">Save</button>
	  </form>
	  <form style="margin-top:20px" th:action="@{'/copy/get_all'}" method="get">
		<input type="submit" class= "btn btn-primary" value="cancel" />
	</form>
	<div class="push"></div>
    <div class="footer">
      <hr>
      <footer>
        <h5 class="col-lg-12 text-center text-muted">Credits: Marchi Mattia, Stoppa Miguel, Tomasoni Lorenzo. Università degli Studi Milano Bicocca</h5>
      </footer>
    </div>
</body>
</html>