<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update Movie</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  	 * {
		     margin: 0;
		 }
		 html, body {
		     height: 100%;
		 }
		 .wrapper {
		     min-height: 100%;
		     height: auto !important;
		     height: 100%;
		     margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
		 }
		 .footer, .push {
		     height: 10px; /* .push must be the same height as .footer */
		 }
		 hr{
		  	margin-top: 195px;
		  	border: 0.001em solid black;
		  }
  </style>
</head>
<body>
	 <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="\index_admin">Videoteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse order-3 dual-collapse2"></div>
  </nav>
  <form style="margin-bottom:20px; margin-top:20px" action = "#"  th:action = "@{/movie/update}" th:object="${movie}" method = "post">
	<div class="form-group">
	  <label for="title">Title</label>
	  <input class="form-control" type="text" th:field="*{movie_title}" required = "required" readonly="readonly" />
	</div>
	<div class="form-group" style="margin-bottom:10px;">
	  <label for="director">Director</label>
	  <input class="form-control" type="text" th:field="*{director}" required = "required"/>
	</div>
	<div class="form-group" style="margin-bottom:10px;">
	  <label for="genre">Genre</label>
	  <input class="form-control" type="text" th:field="*{genre}" required = "required" />
	</div>
	<div class="form-group" style="margin-bottom:10px;">
	  <label for="year">Year</label>
	  <input class="form-control" type="number" th:field="*{year}" required = "required"/>
	</div>
	<div class="form-group" style="margin-bottom:10px;">
		<label>Sequel</label>
		<select class="form-control" th:field="*{sequel.movie_title}">
			<option value="null">No sequel</option>
	    	<option th:each = "movie : ${movies}" th:value="${movie.movie_title}" th:text="${movie.movie_title}" ></option>
	    </select>
	</div>
	<button style="margin-top:25px" class ="btn btn-primary" type="submit">Modify Movie</button>
  </form>
  <form style="margin-top:20px" th:action="@{'/movie/get_all'}" method="get">
		<input type="submit" class= "btn btn-primary" value="Cancel and return to movie list" />
  </form>
  <!--
  <form style="margin-bottom:20px; margin-top:20px" action = "#"  th:action = "@{/movie/update}" th:object="${movie}" method = "post">
		<table class="table table-hover myTable">
		  <thead>
		    <tr>
		      <th scope="col">Title</th>
		      <th scope="col">Director</th>
		      <th scope="col">Genre</th>
		      <th scope="col">Year</th>
		    </tr>
		  </thead>
		  	<tr>
				<td><input type="text" th:field="*{movie_title}" required = "required" readonly="readonly" /></td>
				<td><input type="text" th:field="*{director}" required = "required"/></td>
				<td><input type="text" th:field="*{genre}" required = "required" /></td>
				<td><input type="text" th:field="*{year}" required = "required"/></td>
			</tr>
		</table>
		<button class ="btn btn-primary" type="submit">Modify Movie</button>
	</form>
	-->
	<div class="push"></div>
    <div class="footer">
      <hr>
      <footer>
        <h5 class="col-lg-12 text-center text-muted">Credits: Marchi Mattia, Stoppa Miguel, Tomasoni Lorenzo. Università degli Studi Milano Bicocca</h5>
      </footer>
    </div>
</body>
</html>